footer {
    width: 100%;
    flex: 0 0 auto;
}

.footer__inner {
    border-top: 1px solid #D9D9D9;
    padding-top: 3.9rem;
    padding-bottom: 1.8rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.footer__inner__row {
    display: flex;
    justify-content: space-between;
    align-items: center;

    &>img {
        width: 100%;
        max-width: 12rem;
        height: auto;

        @include burger-header{
            max-width: 10rem;
        }
    }
}

.footer__inner_row__item {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-top: auto;


    &>a {
        font-family: 'Ubuntu';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 18px;
        color: #272727;

        @include burger-header {
            font-size: 12px;
            line-height: 14px;
        }
    }
    @include small-mobile{
            gap: 0;
    }

    &>span {
        font-family: 'Ubuntu';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 18px;
        text-transform: uppercase;
        color: #272727;
        max-width: 45rem;


        &:nth-child(1){
            @include small-mobile{
                width: 15rem;
            }
        }

        &:nth-child(2){
            @include small-mobile{
                display: none;
            }
        }

        @include burger-header {
            font-size: 12px;
            line-height: 14px;
            max-width: 35rem;
        }

        @include micro-mobile{
            margin-right: 3rem;
        }

    }
}

.footer__inner__both {
    width: 100%;
    max-width: 11.9rem;

    &:last-child {
        @include small-mobile {
            max-width: 10rem;
        }
    }

    @include burger-header {
        max-width: 9.5rem;
    }
}

.footer__inner__both__menu {
    margin: 0 auto;
}

.footer__inner__both__menu__row {
    display: flex;
    justify-content: space-between;
    width: 100%;
    flex-direction: column;
    gap: 1rem;
}

.footer__inner__both__menu__row+.footer__inner__both__menu__row {
    padding-top: 1.6rem;
}

.footer__inner__both__menu__row>li>a {
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    color: #272727;
    text-align: left;

    width: 30rem;
    display: block;


    @include mobile{
        font-size: 12px;
        width: auto;
    }


    @include small-mobile {
        font-size: 1rem;
    }
}


.footer__inner__center {
    width: 98px;
    height: 48px;
    display: flex;
    align-items: center;

    @include small-tablet {
        display: none;
    }
}

.footer__inner__both__link+.footer__inner__both__link {
    margin-left: 1.7rem;

    @include small-mobile {
        margin-left: 2rem;
    }
}

.footer__inner__both__link {
    display: inline-block;
    width: 4.8rem;
    height: 4.8rem;
    transition: all 0.3s ease-in-out;
    opacity: 0.6;

    @include burger-header {
        width: 3.5rem;
        height: 3.5rem;
    }
}

.footer__inner__both__link:hover {
    opacity: 1;
}