.mapObjects {
}
.mapObjects__inner {
    padding-bottom: 5rem;
}


.mapObjects__inner__title {
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 400;
    font-size: 72px;
    text-transform: uppercase;
    color: #466BF8;

    @include for-desktop {
    text-align: center;
    }

    @include burger-header{
        font-size: 6rem;
    }

    @include micro-mobile{
        font-size: 5.5rem;
    }
}

.mapObjects__inner__map{
    width: 100%;
    height: calc((1vw + 1vh) * 21);
    margin-top: 4rem;
}

.mapObjects__inner__wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;


    @include maps-object{
        flex-direction: column;
        gap: 1rem;
    }
}
.mapObjects__inner__tabs{
    display: flex;
}

.mapObjects__inner__tabs__button{
    max-width: 14rem;
}
.active__banners.mapObjects__inner__tabs__button{
    color: rgba(70, 107, 248, 1);
    border: 1px solid rgba(70, 107, 248, 1);
}