.order {}

.container-order{
    padding: 0 4rem;
    max-width: 159.8rem;
}

.order__inner {}

.order__inner__title {
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 400;
    font-size: 96px;
    line-height: 100%;
    padding: 9.6rem 0 12.9rem;
    color: #466BF8;

    @include big-desktop{
        padding: 6rem 0 8rem;
    }
    @include for-desktop{
        font-size: 6rem;
        padding: 4rem 0 5rem;
    }

    @include tablet{
        font-size: 5rem;
    }

    @include mobile{
        font-size: 4rem;
        padding: 3rem 0 3rem;
    }
}

.order__inner__row {
    display: flex;
    justify-content: space-between;
    
    @include for-desktop{
        align-items: center;
    }

    @include small-tablet{
        flex-wrap:  wrap;
    }
}
.order__inner__row:last-child{
    margin-bottom: 7.2rem;
}

.order__inner__row__label {
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 500;
    font-size: 48px;
    line-height: 55px;
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 63.5rem;
    margin-bottom: 7.3rem;
    color: #466BF8;

    @include big-desktop{
        max-width: 51rem;
    }
    @include for-desktop{
        font-size: 4rem;
        max-width: 40rem;
        margin-bottom: 3rem;
        white-space: nowrap;
    }

    @include tablet{
        font-size: 3rem;
        max-width: 30rem;
    }
    @include small-tablet{
        font-size: 4rem;
        max-width: 60rem;
    }

    @include mobile{
        font-size: 3rem;
    }
}

.order__inner__row__label>input:active,
.order__inner__row__label>input:focus {
    outline: none;
}

.hidden {
    color: white;

    @include small-tablet{
        margin-top: -2rem;
    }
}
.long{
    max-width: 144.6rem;

    @include small-tablet{
        max-width: 60rem;
    }
}

.order__inner__row__label>input {
    display: block;
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
    margin-top: 3.6rem;
    border: none;
    border-bottom: 1px solid black;
    transition: all 0.5s ease-in-out;

    &:focus{
        border-color: #466BF8;
    }

    @include for-desktop{
        margin-top: 1rem;
    }

    @include tablet{
        margin-top: 0;
    }


}
.order__inner__row__label>input::placeholder{
    @include tablet{
        font-size: 1.8rem;
    }
}

.order__inner__row__text {
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
    max-width: 102.4rem;

    @include big-desktop{
        padding-right: 2rem;
    }
    
    @include for-desktop{
        font-size: 2rem;
    }

    @include tablet{
        font-size: 1.8rem;
    }

    @include mobile{
        font-size: 1.4rem;
        line-height: 1.3;
    }
}

.order__inner__row__text>a {
    color: #2DBE96;
    text-decoration: underline;
    cursor: pointer;
}

.order__inner__row__button {
    border-radius: 20px;
    background-color: transparent;
    cursor: pointer;
    font-family: 'Roboto Flex';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    padding: 1.8rem 9.7rem;
    transition: all 0.3s linear;
    max-height: 64px;
    white-space: nowrap;
    
    @include big-desktop{
        padding: 1.5rem 4rem;
    }

    @include for-desktop{
        padding: 1rem 3rem;
        font-size: 2rem;
    }

    @include small-tablet{
        margin-top: 2rem;
    }
}

.order__inner__row__button:hover{
    background-color: black;
    color: white;
}
