.services {}

.services__inner {
    padding-bottom: 12.8rem;

    @include slider{
        padding-bottom: 5rem;
    }
}

.services__inner__title {
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 400;
    font-size: 72px;
    text-transform: uppercase;
    color: #466BF8;

    @include for-desktop {
    text-align: center;
    }
}

.services__inner__gallery {
    margin-top: -5rem;

    @include for-desktop {
        margin-top: 3rem;
    }
}

.services__inner__gallery__buttons {
    display: flex;
    justify-content: space-between;
    max-width: 75rem;
    margin-left: auto;

    @include for-desktop {
        margin: 0 auto;
    }

    @include slider{
        margin: 0 auto 3.2rem;
    }
}

.services__inner__gallery__buttons>button {
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    text-transform: uppercase;
    color: rgba(70, 107, 248, 0.5);
    border: 1px solid rgba(70, 107, 248, 0.5);
    border-radius: 26px;
    padding: 0.5rem 3rem;
    background-color: transparent;
    transition: all 0.3s linear;
    cursor: pointer;
    margin-right: 1rem;

    &:nth-child(4){
        margin-right: 0;
    }
    

    @include small-tablet{
        font-size: 12px;
        padding: 0.7rem 3.5rem;
        white-space: nowrap;
    }

    @include burger-header{
        padding: 0.5rem 2.5rem;
    }

    @include mobile{
        padding: 0.5rem 1.5rem;
    }
    @include map465{
        font-size: 10px;
        // padding: 0.5rem 1rem;
        white-space: nowrap;
    }
    @include small-mobile{
        font-size: 9px;
        padding: 0.5rem 1rem;
    }
}

.active__tabs.services__inner__gallery__buttons__button{
    color: rgba(70, 107, 248, 1);
    border: 1px solid rgba(70, 107, 248, 1);
}

.services__inner__gallery__line {
    height: 0;
    border: 1px solid #D9D9D9;
    margin-top: 4.9rem;
    margin-bottom: 4.8rem;

    @include slider{
display: none;    }
}


.swiper__services {
    padding: 0 5rem;
    max-height: 70rem;
    max-width: 151.786rem;

    @include slider{
        padding: 0 3rem;
    }

    @include burger-header{
        padding: 0 2.2rem;
    }
}

.swiper-wrapper {}

.swiper-slide {}

.services__inner__gallery__list__category {
    height: calc($index * 29.179);
    max-height: 70rem;
    min-height: 70rem;

    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    gap: 4rem;

    @include big-desktop{
        gap: 2rem;
        min-height: auto;
    }
}

.services__inner__gallery__list__category__left {
    width: 48.5%;
    height: 100%;
}
.services__inner__gallery__list__category__right {
    width: 51.5%;
    height: 100%;
}

.services__inner__gallery__list__category__right {
    max-width: 70.716rem;
    display: flex;
    flex-direction: column;
    //gap: 2.5rem;
    justify-content: space-between;


    @include big-desktop{
        gap: 1rem;
    }
}

.services__inner__gallery__list__category__right__row {
    height: 100%;
    max-height: 34rem;
    display: flex;
    justify-content: space-between;
    gap: 4rem;

    @include big-desktop{
        gap: 2rem;
    }
}

.services__inner__gallery__list__category__item {
    padding: 0.6rem 1.007rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: white;
    padding-left: 1.8rem;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2));
    border-radius: 10px;
    width: 100%;
    max-width: 326.24px;
    max-height: 34rem;
    position: relative;
    overflow: hidden;
    @include bg-cover;
}

.services__inner__gallery__list__category__item__mobile{

    @include slider{
        max-width: none;
        height: 100%;
        min-height: calc($index*23);
    }
}

.services__inner__gallery__list__category__item--big {
    width: 100%;
    height: 100%;
    padding-top: 2.5rem;
    padding-bottom: 1.3rem;
    max-width: 671.66px;
    max-height: 72rem;
}

.services__inner__top {
    text-align: center;
}

.services__inner__gallery__list__category__item__title {
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    text-transform: uppercase;
    margin-bottom: 1rem;

    color: rgb(70, 107, 248);
    background: rgba(255, 255, 255, 0.1);
     backdrop-filter: blur(35px);
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    text-align: center;


    @include big-desktop{
        font-size: 3rem;
    }

    @include maps{
        font-size: 2.5rem;
        white-space: nowrap;
    }

    @include for-desktop{
        // margin-bottom: 1rem;
    }
}

.services__inner__gallery__list__category__item__subtitle {
    display: none;
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
    text-transform: capitalize;
    color: rgb(70, 107, 248);
    background: rgba(255, 255, 255, 0.8);
     backdrop-filter: blur(35px);
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);


    @include big-desktop{
        font-size: 1.6rem;
    }
    @include for-desktop{
        line-height: 1.4;
    }
}

.services__inner__gallery__list__category__item__button {
    font-family: 'Viga';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    text-transform: uppercase;
    color: #FFFFFF;
    background-color: transparent;
    cursor: pointer;
    padding: 0.8rem 3.3rem;
    border: 1px solid #FFFFFF;
    border-radius: 26px;
    transition: all 0.3s ease-in-out;

    @include tablet{
        font-size: 1.1rem;
        padding: 0.8rem 2rem;
    }
}

.services__inner__gallery__list__category__item__button:hover{
    background-color: white;
    color: black;

}

.services__inner__bottom {
    margin-bottom: 1.5rem;
}

.services__inner__gallery__list__category__item__title--big {
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 400;
    font-size: 48px;
    text-transform: uppercase;
    color: rgb(70, 107, 248);
    background: rgba(255, 255, 255, 0.1);
     backdrop-filter: blur(35px);
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    margin-bottom: 0.8rem;
    text-align: center;

    @include for-desktop{
        font-size: 3.7rem;
    }
}

.services__inner__gallery__list__category__item__subtitle--big {
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 37px;
    text-transform: capitalize;
    color: rgb(70, 107, 248);
    background: rgba(255, 255, 255, 0.8);
     backdrop-filter: blur(35px);


    @include big-desktop{
        font-size: 2rem;
    }

    @include for-desktop{
        line-height: 1.4;
    }
}

.services__inner__gallery__list__category__item__button--big {
    font-family: 'Viga';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    text-transform: uppercase;
    color: #FFFFFF;
    border: 1px solid #FFFFFF;
    border-radius: 26px;
    background-color: transparent;
    padding: 1rem 3.7rem;
    transition: all 0.3s ease-in-out;

    @include tablet{
        font-size: 1.2rem;
        padding: 0.8rem 2.2rem;
    }
}

.swiper-pagination {}

.swiper-button-prev, .swiper-button-next {
    @include burger-header{
        height: 2rem;
        width: 2rem;
    }
}
.swiper-button-prev{
    @include slider{
        left: var(--swiper-navigation-sides-offset, 0px);
    }
}
.swiper-button-next{
    @include slider{
        right: var(--swiper-navigation-sides-offset, 0px);
    }
}

.swiper-button-next::after, .swiper-button-prev::after {
    display: none;
}