.statement {
    padding-bottom: 12.8rem;
}

.statement__inner {
    height: 100%;
    max-height: 600px;
    background: #466BF8;
    border-radius: 0px 0px 100px 100px;
}

.statement__inner__title {
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 700;
    font-size: 96px;
    line-height: 110px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    padding: 9.9rem 0 12.8rem;
    max-width: 120rem;
    margin: 0 auto;
}

.statement__inner__bottom {
    width: 100%;
    max-width: 41.4rem;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    padding-bottom: 11.5rem;
}

.statement__inner__bottom__buttom {
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 18px;
    text-transform: uppercase;
    color: #466BF8;
    padding: 1rem 4rem;
    background-color: white;
    border: 1px solid #FFFFFF;
    border-radius: 26px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}
.statement__inner__bottom__buttom:hover{
    background-color: transparent;
    color: #FFFFFF;
}

.statement__inner__bottom__buttom:nth-child(2) {
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 18px;
    text-transform: uppercase;
    color: #FFFFFF;
    background-color: transparent;
}
.statement__inner__bottom__buttom:nth-child(2):hover{
    background-color: white;
    color: #466BF8;
}