<footer>
    <div class="container">
        <div class="footer__inner">
            <div class="footer__inner__both">
                <nav class="footer__inner__both__menu">
                    <ul class="footer__inner__both__menu__row">
                        <li><a href="./politics.php">Политика конфиденциальности</a></li>
                        <li><a href="https://abrosko-studio.ru/" target="_blank" style="color: #466BF8;">© 2023 Разработка сайта - Abrosko</a></li>
                    </ul>
                    <!-- <ul class="footer__inner__both__menu__row">
                    <li><a href="./index.php#aboutUS">О нас</a></li>
                    <li><a href="">Контакты</a></li>
                </ul> -->
                </nav>
            </div>
            <div class="footer__inner__center">
                <img src="./assets/images/header/logo.svg" alt="logo">
            </div>
            <div class="footer__inner__both">
                <a href="" class="footer__inner__both__link">
                    <img src="./assets/images/svg/telegram.svg" alt="telegram">
                </a>
                <a href="" class="footer__inner__both__link">
                    <img src="./assets/images/svg/whatsapp.svg" alt="whatsapp">
                </a>
            </div>
        </div>
    </div>
</footer>