<footer>
  <div class="container">
    <div class="footer__inner">
        <div class="footer__inner__both">
            <nav class="footer__inner__both__menu">
                <ul class="footer__inner__both__menu__row">
                    <li><a href="./index.php">Главная</a></li>
                    <li><a href="./index.php#services">Услуги</a></li>
                </ul>
                <ul class="footer__inner__both__menu__row">
                    <li><a href="./index.php#aboutUS">О нас</a></li>
                    <li><a href="">Контакты</a></li>
                </ul>
            </nav>
        </div>
        <div class="footer__inner__center" style="background-image: url(./assets/images/header/logo.svg);"></div>
        <div class="footer__inner__both">
            <a href="" class="footer__inner__both__link">
                <img src="./assets/images/svg/telegram.svg" alt="telegram">
            </a>
            <a href="" class="footer__inner__both__link">
                <img src="./assets/images/svg/whatsapp.svg" alt="whatsapp">
            </a>
        </div>
    </div>
  </div>
</footer>
