<header>
    <div class="container">
        <div class="header__inner">
            <a href="./index.php" class="header__inner__logo">
                <picture>
                    <img src="./assets/images/header/logo.svg" alt="logo-creative">
                </picture>
            </a>
            <nav class="header__inner__menu">
                <ul>
                    <li><a href="./index.php">Главная</a></li>
                    <li><a href="./index.php#aboutUS">О нас</a></li>
                    <li><a href="./index.php#services">Услуги</a></li>
                    <li><a href="./index.php#mapsobject">Карта</a></li>
                    <li><a href="./index.php#statement">Связаться с нами</a></li>
                </ul>
            </nav>
            <div class="burger__menu">
                <img src="./assets/images/svg/Vector.svg" id="burger" alt="burger">
                <div class="burger__menu__item" id="menu__burger">
                    <img src="./assets/images/svg/close.svg" data-close alt="close">
                    <ul>
                        <li><a href="./index.php" data-select>Главная</a></li>
                        <li><a href="./index.php#aboutUS" data-select>О нас</a></li>
                        <li><a href="./index.php#services" data-select>Услуги</a></li>
                        <li><a href="./index.php#mapsobject">Карта</a></li>
                        <li><a href="./index.php#statement" data-select>Связаться с нами</a></li>
                    </ul>
                </div>
            </div>

        </div>
    </div>
</header>